@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
.past-present-future {
    position: fixed;
    left: 20px; 
    top: 20px; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    width: 100%; 
    font-size: 17px; 
    text-align: center; 
}

.past-present-future p {
    margin: 0; 
    opacity: 0.8; 
    transition: transform 0.3s ease, opacity 0.3s ease, font-size 0.3s ease, text-shadow 0.3s ease;
}

.past-present-future p:hover {
    transform: scale(1.2); 
    opacity: 1; 
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6); 
}

.font10{
    font-family: 'Quattrocento', serif;
    color: rgba(247, 243, 227, 1); 
    text-align: center;
}
.past-present-future a {
    text-decoration: none; 
    color: inherit; 
}

.past-present-future a:hover {
    color: inherit; 
}


body {
    background-image: url("1img/bg2-3.png"); 
    background-size: cover;  
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
    overflow-x: hidden; 
    overflow-y: auto; 
    height: 250vh;
}

h1.font2 {
    font-family: 'Dawning of a New Day', cursive;
    font-weight: 100;
    color: rgba(247, 243, 227, 0.35);
    font-size: 350px;
    text-align: left;
    position: fixed;  
    right: 60px;
    top: 35%;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: left center;
    white-space: nowrap;
    z-index: 9999; 
    opacity: 1;
    transition: opacity 0.5s ease-in-out;


}

h1.font2:hover {
    color: rgba(247, 243, 227, 0.9); 
    opacity: 1;
}


#text {
    font-family: 'Quattrocento', serif;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    word-spacing: 3px;
    color: rgba(247, 243, 227, 1);
    position: relative;
    left: 900px;
    top: 700px;
}

p {
    width: 70%;
    display: block;
    text-align: left;
    color: rgb(247, 243, 227);
}



.char {
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
}

#text2 {
    font-family: 'Quattrocento', serif;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    word-spacing: 3px;
    color: rgb(247, 243, 227); 
    position: relative;
    left: 935px;
    top: 2000px; 
    opacity: 0;  
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateY(30px); 
}

#text2.visible {
    opacity: 1;  
    transform: translateY(0); 
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.main-image {
    position: absolute;
    width: 30px;
    height: auto;
    top: 20%;
    left: 20%;
    transform: translate(-25%, -25%);
}


.main-image2 {
    position: absolute;
    width: 30px;
    height: auto;
    top:1600px;
    left: 20%;
    transform: translate(-25%, -25%);
}



.click-image {
    position: fixed;
    bottom: -100px; 
    left: 36.5%; 
    width: 400px;
    opacity: 80%;
    display: block; 
    margin: 0 auto; 
}


.next-button {
    position: fixed; 
    top: -80px; 
    right: -65px; 
    width: 250px; 
    height: auto; 
    cursor: pointer; 
    z-index: 100; 
    opacity: 0.8; 
    transition: opacity 0.5s ease, transform 0.3s ease; 
}

.next-button:hover {
    opacity: 1; 
    transform: scale(1.2);  
}

.back-button {
    position: fixed; 
    top: -80px; 
    left: -65px; 
    width: 250px; 
    height: auto; 
    cursor: pointer; 
    z-index: 100; 
    opacity: 0.4; 
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

.back-button:hover, .next-button:hover {
    opacity: 1;  
    transform: scale(1.2);  
}

.clicktext {
    position: fixed;
    top: 30px; 
    right: 50px;
    font-size: 20px; 
    color: rgba(247, 243, 227, 1); 
}

.clicktext2 {
    position: fixed;
    top: 30px;  
    left: 45px; 
    font-size: 20px; 
    color: rgba(247, 243, 227, 1); 
}

.font3 {
    font-family: "Dawning of a New Day", cursive;
    font-weight: 100;
    font-size: 20px;  
    color:rgba(247, 243, 227, 1)

}


body {
    cursor: none; 
}

body {
    cursor: none; 
}

body {
    cursor: none; 
}

body::after {
    content: '';
    position: fixed;
    top: var(--cursor-y, 0);
    left: var(--cursor-x, 0);
    width: 20px; 
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0); 
    background-color: transparent; 
    border-radius: 50%; 
    pointer-events: none; 
    transition: transform 0.1s ease; 
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6); 
}


@keyframes fadeBlink {
    0% { opacity: 0; transform: translateY(30px); }
    50% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(30px); }
}

.fade-text {
    position: fixed;
    right: -200px;
    bottom: 40px;
    font-size: 80px; 
    color: rgba(247, 243, 227, 1); 
    opacity: 0; 
    animation: fadeBlink 8s infinite ease-in-out; 
}

.font4 {
    font-family: 'Dawning of a New Day', cursive;
    font-weight: 100;
    font-size: 25px;  
    color: rgba(247, 243, 227, 1);  
    opacity: 80%;
}